wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/updraft/
wp-content/wp-rocket-config/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/mu-plugins/0-worker.php
wp-content/plugins/worker/
wp-content/plugins/formidable/css/formidableforms.css
wp-content/plugins/formidable-pro/js/frm.min.js
wp-content/webp-express/

.*
~*

node_modules/

sitemap.xml
imagify-backup/

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

!.gitignore
!.editorconfig
!README.md
!CHANGELOG.md
!composer.json

!android-chrome-*.png
!apple-touch-icon*.png
!browserconfig.xml
!favicon*.png
!favicon*.ico
!manifest.json
!mstile-*.png
!safari-pinned-tab.svg

wp-content/themes/tessellate/token.json

error_log